<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Todo編集</title>
</head>
<body>
  <h1>Todo編集</h1>
  <form action="/todos/<%= @todo.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <div>
      <label for="title">タイトル</label>
      <input type="text" name="todo[title]" id="title" value="<%= @todo.title %>">
    </div>
    <div>
      <label>完了</label>
        <input type="checkbox" name="todo[done]" <%= "checked" if @todo.done %> />
    </div>
    <div>
      <button type="submit">更新</button>
      <a href="/">戻る</a>
    </div>
  </form>
</body>
</html>